:root {
    --primary-color: #4CAF50;
    --text-color: #333;
    --background-color: #f0f0f0;
    --form-background-color: #fff;
    --font-family: 'Arial', sans-serif;
}

body.editprof {
    font-family: var(--font-family);
    background-color: var(--background-color);
    padding: 20px;
}

.editprof__title {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.editprof__form {
    background-color: var(--form-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    max-width: 600px;
}

.editprof__form p {
    background-color: var(--form-background-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.editprof__btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 20px;
}

.editprof__btn:hover {
    background-color: #369456;
}
