/* Define basic variables for consistent styling */
:root {
    --primary-color: #4CAF50; /* Primary color for your theme */
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
    --background-color: #f8f8f8; /* A light background color */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--background-color);
}

.header__image-div {
    flex: 1;
}

.header__img {
    width: 50px; /* Adjust as necessary */
    height: auto;
}

.header-btns {
    display: flex;
    justify-content: flex-end;
    flex: 2; /* Adjust based on your design needs */
}

.header-btns a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.header-btns a:hover {
    background-color: darken(var(--primary-color), 10%);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header-btns {
        margin-top: 10px;
    }

    .header-btns a {
        display: block;
        margin: 5px auto; /* Center buttons in mobile view */
    }
}
