:root {
    --primary-color: #4CAF50; 
    --hover-color: #3498db; 
    --text-color: #333; 
    --font-family: 'Arial', sans-serif; 
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

.login {
    text-align: center;
    color: var(--primary-color);
    margin-top: 20px; 
}

.login__form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login__form p {
    text-align: left; 
}

.login__submit {
    display: block; 
    width: 100%; 
    padding: 10px;
    margin: 10px 0; 
    font-size: large;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.login__register {
    display: block;
    width: 50%;
    padding: 15px;
    margin: 5px 0; 
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.login__register-msg {
    margin: 10px 0 5px 0;
}

.login__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__submit:hover, .login__register:hover {
    background-color: var(--hover-color);
}

.login__btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color); 
}

.login__btn:hover {
    color: white; 
}

#id_password {
    margin: 0 37px;
}

@media (max-width: 768px) {
    .login__form {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }
}
