body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.register__form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

.register__form p {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.register__form p label{
    margin-right: 10px;
}

.register__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.register__btns button {
    width: 100%;
    margin-top: 10px;
}

.register_lg {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.register__btn, .register__login {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.register__btn:hover, .register__login:hover {
    background-color: #4CAF50; 
}
