{% extends 'farmapp/main.html' %}
{% load static %}

{% block site_css %}<link rel="stylesheet" href="{% static 'farmapp/header.css' %}">{% endblock %}

{% block content %}
    <header>
        <nav class="header">
        <div class="header__image-div">
            <img class="header__img" src="../../static/farmapp/images/farm.jpg" alt="logo image">
        </div>
        <div class="header-btns">
            <a href="{% url 'list_products' %}">Proizvod</a>
            <a href="{% url 'view_profile' %}">Profil</a>
            <a href="{% url 'logout' %}">Odjava</a>
        </div>
        </nav>
    </header>
{% endblock %}