{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'farmapp/product_list.css' %}">
    <title>Add Product</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var deleteLinks = document.querySelectorAll('.delete-link');
        
            deleteLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    var deleteUrl = this.getAttribute('href'); // Save the URL for the delete action
        
                    // Show the popup
                    document.querySelector('.popup-overlay').style.display = 'block'; // Show the overlay
                    document.querySelector('.confirmation-popup').style.display = 'block'; // Show the popup

        
                    // When the confirm button is clicked, proceed with deletion
                    document.getElementById('confirm-delete').onclick = function() {
                        window.location.href = deleteUrl;
                    };
        
                    // Hide the popup if cancel is clicked
                    document.getElementById('cancel-delete').onclick = function() {
                        document.querySelector('.popup-overlay').style.display = 'none'; // Hide the overlay
                        document.querySelector('.confirmation-popup').style.display = 'none'; // Hide the popup
                    };
                });
            });
        });
    </script>        
</head>
<body>
    <header>
        <nav class="header">
          <div class="logo">
            <img src="path/to/your/logo.png" alt="Company Logo">
          </div>
          <div class="header-left">
            <a href="{% url 'list_products' %}">Proizvod</a>
            <a href="{% url 'view_profile' %}">Profil</a>
            <a href="{% url 'logout' %}">Odjava</a>
          </div>
          <div class="header-right">
              <a href="/add_product">Dodaj proizvod</a>
          </div>
        </nav>
    </header>

    <div>
    <h2>Lista proizvoda</h2>
    <table>
        <thead>
            <tr>
                <th>Naziv proizvoda</th>
                <th>Kategorija</th>
                <th>Detalji</th>
                <th>Uređivanje</th>
                <th>Brisanje</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.get_category_display }}</td>
                <td>{{ product.detail }}</td>
                <td><a href="{% url 'edit_product' product.id %}">Uređivanje</a></td>
                <td><a href="{% url 'delete_product' product.id %}" class="delete-link" onclick="return confirmDelete()">Delete</a></td>
            </tr>
            <div class="popup-overlay"></div>
            <div id="confirmation-popup" class="confirmation-popup" style="display:none;">
                <p>Da li zaista želite obrisati proizvod?</p>
                <button id="confirm-delete">Potvrdi</button>
                <button id="cancel-delete">Odustani</button>
            </div>              
            {% empty %}
            <tr>
                <td colspan="3">No products available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
