{% extends 'farmapp/main.html' %}
{% load static %}

{% block site_css %}<link rel="stylesheet" href="{% static 'farmapp/register.css' %}">{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<body>
    <h2 class="register">Registracija korisnika</h2>
    <form class="register__form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="register__btns">
            <button class="register__btn" type="submit">Register</button>

            <div class="register_lg">
                <p>Ako imaš račun </p>
                <a class="register__login" href="{% url 'login' %}">Ulogiraj se</a>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock %}